@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* -> Custom Properties */
:root {
	/* Colors */
	--primary-color: rgb(255, 99, 71);
	--primary-text: rgb(253, 253, 253);
	--bg-color-primary: rgb(34, 34, 34);
	--bg-color-secondary: rgba(0, 0, 0, 0.8);
	--bg-color-third: rgb(51, 51, 51);
	--black-color: rgb(0, 0, 0);
	--white-color: rgb(255, 255, 255);

	/* Fonts */
	--font-primary: 'Roboto', Arial, Helvetica, sans-serif;
	--font-secondary: 'Press Start 2P', Arial, Helvetica, sans-serif;
	--font-light: 400;
	--font-medium: 500;
	--font-bold: 700;

	/* Sizes */
	--max-width: 1300px;
	--header-height: 66px;
}

/* -> Reset */
html {
	box-sizing: border-box;
	font-size: 16px;
	scroll-behavior: smooth;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	text-decoration: none;
	list-style: none;
	font-family: var(--font-primary);
}

body {
	width: 100%;
	font-family: var(--font-primary);
	overflow-x: hidden;
	color: var(--primary-text);
	background-color: var(--bg-color-primary);
}
.section-global {
	width: 100%;
	max-width: var(--max-width);
	margin: 0 auto;
}
.active {
	border: 1px solid var(--primary-text) !important;
	color: var(--primary-color) !important;
	background-color: var(--bg-color-secondary) !important;
}

/* -> Header */
#header {
	width: 100%;
	height: var(--header-height);
	position: fixed;
	top: 0;
	z-index: 1;
	padding: 1rem;
	background-color: var(--bg-color-secondary);
}
.header-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo img {
	width: 50px;
	height: auto;
}

/* Navigation styling */
.nav-menu {
	width: 100%;
	display: none;
	flex-direction: column;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 999;
	text-align: center;
	background-color: var(--bg-color-secondary);
	opacity: 0.9;
	transition: transform 0.3s ease, background-color 0.3s ease;
}

.nav-menu li {
	margin: 0.5rem 0;
}

.nav-menu a {
	display: block;
	padding: 0.5rem 1rem;
	color: var(--primary-text);
}
.nav-menu a:hover {
	font-weight: var(--font-bold);
	color: var(--primary-color);
}

.header-actions {
	display: flex;
	align-items: center;
}

.menu-btn {
	width: 60px;
	height: 60px;
	display: block;
	position: relative;
	text-align: center;
	font-size: 2.5rem;
	line-height: 70px;
	cursor: pointer;
	border: none;
	color: var(--primary-color);
	background: none;
	transition: color 0.3s ease;
}
.menu-btn-active,
.menu-btn:hover {
	color: var(--primary-text);
}
/* Shopping cart and menu button styling */
.shopping-cart {
	font-size: 2rem;
	color: var(--primary-color);

	cursor: pointer;
}

.shopping-cart:hover {
	color: var(--primary-text);
}
.shopping-cart span {
	font-size: 1.5rem;
}

.menu-open {
	display: flex;
	flex-direction: column;
}

.cart-menu {
	display: none;
	flex-direction: column;
	background-color: var(--bg-color-secondary);
	color: #fff;
	position: absolute;
	top: var(--header-height);
	right: 20px;
	width: 300px;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(255, 255, 0, 0.2);
	z-index: 9;
}
.cart-menu h3 {
	margin-top: 0;
	border-bottom: 1px solid #555;
	padding-bottom: 10px;
}

.cart-items {
	list-style: none;
	padding: 0;
	margin: 15px 0;
	max-height: 200px;
	overflow-y: auto;
}

.cart-items li {
	padding: 5px 0;
	border-bottom: 1px solid #555;
}

.cart-total {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	padding-top: 10px;
	border-top: 1px solid #555;
}

.cart-actions {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}

.cart-actions .btn {
	background-color: var(--bg-color-third);
	color: var(--primary-text);
	border: none;
	padding: 10px;
	border-radius: 3px;
	cursor: pointer;
}

.cart-actions .btn:hover {
	background-color: var(--bg-color-secondary);
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
}

.overlay {
	display: none;
	position: absolute;
	top: var(--header-height);
	left: 0;
	height: 100vh;
	width: 100%;
	z-index: 1;
	background-color: var(--bg-color-primary);
}

/* -> Hero Section */
#hero {
	background-image: url(../assets/img/hero-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.hero-image-opacity {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 70px 20px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
	width: 90%;
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero-content h1 {
	margin-bottom: 20px;
	line-height: normal;
	font-size: 2rem;
	font-family: var(--font-primary);
}

.hero-content a {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	color: var(--primary-text);
	background-color: var(--bg-color-secondary);
}

.hero-content a:hover {
	border: 1px solid var(--white-color);
	color: var(--primary-color);
}

/* -> About Us Section */
#about {
	min-height: 100vh;
	padding: calc(var(--header-height) + 10px) 50px 10px 10px;
	text-align: center;
}

.about-title {
	font-size: 1.5rem;
}

.about-content {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	color: var(--white-color);
}

.about-content p {
	margin-bottom: 20px;
	font-size: 1rem;
	line-height: 1.5;
	text-align: left;
	max-width: 80ch;
}

.about-content ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about-content ul li {
	margin: 10px;
	text-align: center;
}

/* -> Products Section */
#products {
	padding: calc(var(--header-height) + 10px) 50px 10px 10px;
	text-align: center;
}
.products-title {
	font-size: 1.8rem;
}

.categories-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5px;
	margin: 20px 0;
}

.cards-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card {
	width: 90%;
	max-width: 320px;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 15px 0;
	text-align: center;
	padding: 12px;
	border-radius: 10px;
	transition: transform 0.3s ease;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	color: var(--primary-text);
	background-color: var(--bg-color-secondary);
}

.card:hover {
	width: 100%;
	transform: translateY(-10px);
	border: 1px solid var(--primary-text);
}

.card img {
	width: 100%;
	max-width: 100%;
	height: 370px;
	object-fit: cover;
	margin-bottom: 3px;
	border-radius: 10px;
	transition: transform 0.3s ease;
}

.card h3 {
	font-size: 1rem;
	line-height: 1.2rem;
	margin: 4px 0;
	font-family: var(--font-secondary);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}
.card h3:hover {
	white-space: normal;
}

.card p {
	font-size: 1rem;
	margin: 2px 0;
	font-weight: bold;
	color: var(--primary-color);
}

.card-btn {
	display: inline-block;
	padding: 6px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	color: var(--white-color);
	background-color: var(--bg-color-third);
	transition: background-color 0.3s ease, color 0.3s ease;
}
.card-btn:hover {
	border: 1px solid var(--primary-text);
	color: var(--primary-color);
	background-color: var(--bg-color-secondary);
}
.btn-load {
	display: block;
	padding: 10px 20px;
	margin: 20px auto;
	background-color: var(--bg-color-secondary);
}

/* -> Contact Section */
#contact {
	padding: calc(var(--header-height) + 10px) 5px 50px 5px;
	text-align: center;
}
.contact-title {
	font-size: 1.5rem;
}

.contact-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}

.form-container {
	width: 100%;
	border-radius: 8px;
	max-width: 700px;
	margin: 0 auto;
	padding: 5px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	background-color: #1e1e1e;
}

.contact-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 8px;
}

.form-group {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0 10px;
	margin: 10px 0;
}
.form-group label {
	display: flex;
	font-weight: bold;
	margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
	width: 100%;
	padding: 10px;
	margin-top: 4px;
	border-radius: 4px;
	color: var(--primary-color);
	background-color: #2c2c2c;
	border: 1px solid #555555;
}
.form-group input::placeholder,
.form-group textarea::placeholder {
	color: rgb(170, 170, 170);
}
.form-group textarea {
	resize: vertical;
	min-height: 100px;
}
.empty-field-alert {
	width: 100%;
	margin-top: 5px;
	padding: 8px;
	font-size: 1rem;
	text-align: center;
	border-radius: 5px;
	color: var(--text-color);
	background-color: rgba(255, 99, 71, 0.7);
}
.button-group {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0px 20px;

	@media (width <= 360px) {
		flex-direction: column;
	}
}

.submit-button,
.reset-button {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	padding: 10px 20px;
	margin-top: 10px;
	border: none;
	border-radius: 0.5rem;
	font-size: 1rem;
	cursor: pointer;
	color: var(--white-color);
	background-color: var(--bg-color-secondary);
}
.submit-button {
	cursor: not-allowed;
	opacity: 0.5;
}

.submit-button:hover,
.reset-button:hover {
	border: 1px solid var(--primary-text);
	color: var(--primary-color);
}
.contact-info {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}
.spinner-container {
	display: none;
	justify-content: center;
	margin: 20px;
}
.alerta-exito-enviar {
	width: 100%;
	padding: 8px;
	margin-top: 5px;
	font-size: 1rem;
	font: bold;
	text-transform: uppercase;
	text-align: center;
	border-radius: 5px;
	border: 1px solid var(--primary-text);
	background-color: var(--black-color);
	color: var(--primary-color);
}

.contact-info p {
	margin-bottom: 10px;
	font-size: 1rem;
}
.responsive-iframe-container {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
	height: 0;
	overflow: hidden;
	max-width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.responsive-iframe-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

/* -> Footer */
#footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: auto;
	text-align: center;
	background-color: var(--bg-color-third);
}

.container-social-and-copy {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	padding: 20px 10px 20px 10px;
}

.social-media-icon {
	display: flex;
	gap: 10px;
	padding: 5px 20px 10px 0px;
}

.row-copyright {
	padding: 10px;
	font-weight: 600;
	color: var(--primary-text);
}
.row-copyright span {
	font-weight: 900;
}
